<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button id="present-alert">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
      <ion-alert
        trigger="present-alert"
        header="Are you sure you want to logout !"
        [buttons]="alertButtons"
      ></ion-alert>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isLoading">
  <ion-card *ngIf="currentUser; else noUser">
    <ion-row style="justify-content: center; align-items: center">
      <ion-card-header
        ><div *ngIf="currentUser.photoURL">
          <!-- <p><strong>Profile Photo:</strong></p> -->
          <img
            [src]="currentUser.photoURL"
            alt="Profile Photo"
            style="width: 100px; height: 100px; border-radius: 50%"
          />
        </div>
      </ion-card-header>
      <ion-card-content>
        <ion-card-title
          ><strong>{{ currentUser.name }}</strong>
        </ion-card-title>
        <p><strong>Email:</strong> {{ currentUser.email }}</p>
        <p><strong>Age:</strong> {{ currentUser.age }}</p>
      </ion-card-content></ion-row
    >
  </ion-card>
  <ion-list>
    <ion-list-header>
      <ion-label style="font-size: 1.2em; font-weight: bold"
        >Users with similar movie taste 🔮</ion-label
      >
    </ion-list-header>
    <ion-spinner *ngIf="isLoading"></ion-spinner>

    <ion-list *ngIf="!isLoading && matchingUsers.length > 0">
      <ion-item *ngFor="let user of matchingUsers">
        <ion-label>
          <h2>User ID: {{ user.id }}</h2>
          <p>Match Rate: {{ user.matchRate | number: '1.0-2' }}%</p>
          <p>Shared Favorites: {{ user.favorites.join(', ') }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-text *ngIf="!isLoading && matchingUsers.length === 0">
      <p>No matching users found with a match rate above 75%.</p>
    </ion-text>
    <!-- <ion-item *ngFor="let user of similarUsers">
      <ion-avatar slot="start">
        <img [src]="user.photoURL" />
      </ion-avatar>
      <ion-label>{{ user.name }}</ion-label>
    </ion-item> -->
  </ion-list>

  <ng-template #noUser>
    <ion-text color="danger">
      <h3>No user data found. Please log in.</h3>
      <ion-button routerLink="/signin">signin</ion-button>
    </ion-text>
  </ng-template>
</ion-content>

<ion-content *ngIf="isLoading">
  <ion-header>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ion-header>
</ion-content>
