<ion-header>
  <ion-toolbar>
    <ion-title>{{ movieDetails.title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorite(movieDetails.id)">
        <ion-icon
          [name]="isFavorite(movieDetails.id) ? 'bookmark' : 'bookmark-outline'"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="movieDetails">
  <ion-img
    [src]="'https://image.tmdb.org/t/p/w500' + movieDetails.poster_path"
  ></ion-img>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ movieDetails.title }}</ion-card-title>
      <ion-card-subtitle>
        Release Date: {{ movieDetails.release_date | date: 'mediumDate' }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{ movieDetails.overview }}</p>
      <p><strong>Rating:</strong> {{ movieDetails.vote_average }}/10</p>
    </ion-card-content>
  </ion-card>
</ion-content>
